<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>
<body>
    <h1>날짜를 입력하세요</h1>
    <form action="/show" method="POST">
        <label for="fname">학번:</label><br>
        <input type="text" id="fname" name="num"><br>
        <label for="lname">이름:</label><br>
        <input type="text" id="lname" name="name"><br><br>
        <input type="submit" value="확인">
    </form>
</body>
</html>